---
import Logo from "./Logo.astro"
import ThemeToggle from "./ThemeToggle.astro"
export const prerender = true
---

<header class="sticky top-0 z-99 px-4em" style="max-width: 1200px; margin: 0 auto;">
  <div class="w-150px h-150px logo">
    <Logo />
  </div>
  <div class="flex justify-between items-center py-3">
    <div
      class="flex items-center mt-3 pb-3 text-4xl title cursor-pointer"
      onclick="scrollToTop()"
      style="margin-top: 1.5rem; margin-bottom: 1.5rem;"
    >
      <span
        class="text-transparent font-extrabold bg-clip-text bg-gradient-to-r dark:from-yellow-300 from-yellow-600 dark:to-red-700 to-red-700 mr-2"
        >ChatGPT</span
      >
    </div>
    <div style="margin-right: 2rem;">
      <ThemeToggle />
    </div>
  </div>
</header>

<script is:inline>
  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth"
    })
  }
</script>

<style is:inline>
  .after .title,
  .after #themeToggle,
  .after .logo,
  .after #message-container {
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

  .before .logo {
    transform: translate3D(25px, 100px, 0) scale(1.5);
  }

  .before #themeToggle {
    transform: translate3D(0, 150px, 0) rotate(360deg);
  }

  .before .title,
  .before #message-container {
    transform: translate3D(0, 150px, 0);
  }

  .before #themeToggle,
  .before #message-container {
    opacity: 0.5;
  }

  #themeToggle {
    border: 0;
    opacity: 1;
  }
  .after #message-container {
    opacity: 1;
  }
</style>
